# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
blog-frontend/node_modules
blog-backend/node_modules

# production
blog-frontend/build
blog-backend/log

# misc
*.env
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/*.eslintcache
**/yarn-error.log