@import '../../../styles/lib/utils';

.button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  user-select: none; // NO DRAG
  display: inline-flex;

  &.default {
    background: #000000;
    &:hover {
      background: $oc-gray-9;
    }
    &:active {
      background: #000000;
    }
  }

  &.gray {
    background: $oc-gray-7;
    &:hover {
      background: $oc-gray-6;
    }
    &:active {
      background: $oc-gray-7;
    }
  }

  &.outline {
    border: 2px solid #ffffff;
    border-radius: 2px;
    &:hover {
      background: #ffffff;
      color: black;
    }
    &:active {
      background: rgba(255,255,255,0.85);
      border: 2px solid rgba(255,255,255,0.85);
    }
  }

  &:hover {
    @include material-shadow(2, 0.5);
  }

  &.disabled {
    background: #000000;
    color: #000000;
    border: none;
    cursor: auto;
    &:hover {
      background: #000000;
      color: #000000;
      border: none;
    }
    &:active {
      background: #000000;
      color: #000000;
      border: none;
    }
    
  }

  & + & {
    margin-left: 0.5rem;
  }
}