@import '../../../styles/lib/utils';

@keyframes fadeIn{
  0% { 
    opacity: 0;
  }
  100% { 
    opacity: 1; 
  }
}

@keyframes fadeOut {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.header {
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  .header-content {
    height: 4rem;
    width: 1400px;
    margin: 0 auto;
    padding: 0 3rem;

    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding: 0 1rem;
    }
    @include media("<small") {
      padding: 0 .25rem;
    }

    .brand {
      display: flex;

      .logo {
        margin-top: .4rem;
        margin-right: .3rem;
        width: 1.4rem;
        height: 1.4rem;
        background: url('../../../files/notebook.png');
        background-size: contain;
        @include media("<small") {
          background: url('../../../files/phone.png');
          background-size: contain;
        }
      }

      color: $oc-blue-6;
      font-size: 1.5rem;
      font-weight: 600;

      div {
        cursor: pointer;
      }
    }
    
    .right {
      margin-left: auto;
      display: flex;

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        position: relative;
        margin-right: .5rem;

        .menu-icon {
          width: 1.3rem;
          &.enter {
            width: 1.5rem;
          } 
        }
        
        .menu-list {
          width: 10rem;
          position: absolute; 
          top: 2.8rem;
          background: #FF475A;
          color: #ffffff;
          z-index: 5;

          &.enter {
            visibility: visible;
            animation: fadeIn 0.25s ease-in-out both;
          }
          &.leave {
            visibility: hidden;
          }
          
          ul {
            padding: 1rem;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            
            li {
              width: 100%;
              height: 100%;
              cursor: pointer;
            }

            li + li {
              margin-top: 10px;
            }
          }
        }
        .menu-list::before {
          content:"";
          position: absolute;
          top: -.4rem;
          left: 50%;
          transform: translate(-50%, -50%);
          
          border-left: .6rem solid transparent;
          border-right: .6rem solid transparent;
          border-bottom: .9rem solid #FF475A;
        }
      }

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .3rem;
        margin-left: .3rem;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.1);
        }
        
        img {
          width: 1.3rem;
        }
      }

      .post-button-wrapper {
        display: none;
        &.display {
          display: flex;
        }
      }

      .search {
        display: flex;
        justify-content: center;
        align-items: center;

        .search-wrapper {
          position: relative;
          .search-input {
            width: 12rem;
            height: 1.6rem;
            box-sizing: border-box;
            background: #000000;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-radius: 2px;
            padding: .25rem;
            font-size: 0.8rem;
            font-weight: 600;
            -webkit-appearance: none;
            -webkit-border-radius: 2px;
            
            @include media("<=small") {
              width: 6rem;
            }
            
            &:focus {
              outline: none;
            }
          }
    
          .search-view {
            top: 26px;
            width: 12rem;
            visibility: hidden;
            position: absolute;
            border: 2px solid #ffffff;
            border-radius: 2px;
            background: #000000;
            word-break: break-all;
  
            @include media("<=small") {
              width: 6rem;
              word-break: break-all;
            }
  
            &.enable {
              visibility: visible;
            }
            
            ul {
              display: flex;
              flex-direction: column;
              margin: 0;
              padding: 0;
  
              li {
                font-size: 0.8rem;
                padding: 0.25rem; 
                list-style: none;
                color: #ffffff;
                font-size: 0.8rem;
                cursor: pointer;
                // text overflow -> dot 처리
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                
                &:hover {
                  background: $oc-gray-9;
                }
                &:active {
                  background: #000000;
                }
              }
            }
          }
        }
      }
    }
  }
}