@import '../../../styles/lib/utils';

.header {
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  .header-content {
    height: 4rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .brand {
      display: flex;
      .logo {
        margin-top: .4rem;
        margin-right: .3rem;
        width: 1.4rem;
        height: 1.4rem;
        background: url('../../../files/notebook.png');
        background-size: contain;
        @include media("<small") {
          background: url('../../../files/phone.png');
          background-size: contain;
        }
      }
      color: $oc-blue-6;
      font-size: 1.5rem;
      font-weight: 600;
      div {
        cursor: pointer;
      }
    }
    
    .right {
      margin-left: auto;
      display: flex;

      .search-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .2rem;
        margin-left: .4rem;
        img {
          width: 1.3rem;
        }
      }

      .search-input {
        width: 128px;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 2px;
        margin-left: .2rem;
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: .8rem;
        font-weight: 600;
        user-select: none;
      }

      .search-view {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 400px;
        top: 100px;
        width: 128px;
        height: 28px;
        border: 2px solid #ffffff;
        border-top: 1px solid #ffffff;
        border-radius: 2px;
        background: #000000;
        ul {
          margin: 0;
          padding: 0;
          li {
            display: flex;
            padding-left: 10px;
            justify-content: left;
            align-items: center;
            list-style: none;
            width: 128px;
            height: 28px;
            color: #ffffff;
            font-size: .8rem;
            cursor: pointer;

            -ms-user-select: none; 
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
          }
        }
      }
    }
  }
}