@import '../../../styles/lib/utils';

.header {
  background: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  .header-content {
    height: 4rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;

    display: flex;
    align-items: center;

    @include media("<wide") {
      width: 100%;
    }
    @include media("<medium") {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .brand {
      display: flex;
      .logo {
        margin-top: .4rem;
        margin-right: .3rem;
        width: 1.4rem;
        height: 1.4rem;
        background: url('../../../files/notebook.png');
        background-size: contain;
        @include media("<small") {
          background: url('../../../files/phone.png');
          background-size: contain;
        }
      }
      color: $oc-blue-6;
      font-size: 1.5rem;
      font-weight: 600;
      div {
        cursor: pointer;
      }
    }
    
    .right {
      margin-left: auto;
      display: flex;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .2rem;
        margin-left: .4rem;
        cursor: pointer;
        
        &:hover {
          transform: scale(1.1);
        }
        
        img {
          width: 1.3rem;
        }
      }
      
      .search-input {
        width: 12rem;
        box-sizing: border-box;
        background: #000000;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 2px;
        margin-left: .2rem;
        padding: .25rem;
        font-size: 0.8rem;
        font-weight: 600;
        
        @include media("<=small") {
          width: 6rem;
        }
        
        &:focus {
          outline: none
        }
      }

      .search-view {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: -9999px;
        top: -9999px;
        width: 12rem;
        height: 2.8rem;
        border: 2px solid #ffffff;
        border-top: 1px solid #ffffff;
        border-radius: 2px;
        background: #000000;
        word-break: break-all;
        
        @include media("<=small") {
          width: 6rem;
          word-break: break-all;
        }

        ul {
          margin: 0;
          padding: 0;
          li {
            width: 12rem;
            height: 1.7rem;
            font-size: 0.8rem;
            padding: .25rem; 
            list-style: none;
            color: #ffffff;
            font-size: .8rem;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            @include media("<=small") {
              width: 6rem;
            }
          }
        }
      }
    }
  }
}