@import '../../../styles/lib/utils';

.footer {
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: #000000;
  color: #ffffff;
  
  .admin-login {
    margin-top: 0.5rem;
    cursor: pointer;
  }
}