@import '../../../styles/lib/utils';

.footer {
  background: $oc-gray-2;
  height: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .admin-login {
    margin-top: 0.5rem;
    cursor: pointer;
  }
}