body {
  margin: 0;
  word-break: break-all;
  background: #000000;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}
