@import '../../styles/lib/utils';

.fake-wrapper {
  width: 1024px;
  margin: 0 auto;

  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 100%;
  }

  .fake-list {
    .fake-item {
      height: 15rem;
      background-color: $oc-gray-9;
      padding: 1.5rem;
      transition: all .15s ease-in;
    }
    .fake-item + .fake-item {
      border-top: 1px solid #000000;
    }
  }
}