@import '../../styles/lib/utils';

.list-wrapper {
  width: 1024px;
  margin: 0 auto;

  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 512px;
  }
  @include media("<medium") {
    width: 100%;
  }

  .post-list {
    .post-item {
      padding: 1.5rem;
      transition: all .15s ease-in;
      h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
        color: $oc-gray-8;
        div {
          cursor: pointer;
          &:hover {
            color:#228be6;
            text-decoration-color: #228be6;
            text-decoration: underline;
          }
          transition: all .15s ease-in;
          border-bottom: 1px solid transparent;  
        }
        a:hover {
          color: $oc-blue-6;
          border-bottom: 1px solid $oc-blue-6;
        }
      }
      .date {
        font-size: 0.85rem;
        color: $oc-gray-5;
      }
      p {
        font-weight: 300;
        color: $oc-gray-7;
      }
      .tags {
        font-size: 0.85rem;
        color: $oc-blue-6;
        a {
          &:hover {
            color: $oc-blue-5;
            text-decoration: underline;
          }
        }
        a + a { 
          margin-left: 0.25rem;
        }
      }
      &:hover {
        background: rgba($oc-blue-6, 0.05);
      }
    }
    .post-item + .post-item {
      border-top: 1px solid $oc-gray-3;
    }
  }
  
}

.pagenation {
  width: 1024px;
  margin: 0 auto;

  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include media("<wide") {
    width: 768px;
  }
  @include media("<large") {
    width: 512px;
  }
  @include media("<medium") {
    width: 100%;
  }
  
  margin-top: 2rem;
  display: flex;
  align-items: center;
  
  .number {
    font-size: 0.85rem;
    text-align: center;
    color: $oc-gray-6;
    flex: 1;
  }
}