@import '../../../styles/lib/utils.scss';

.question {
  color: #ffffff;
  background: #000000;
  padding: 2rem;
  .title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .description {
    margin-top: 0.25rem;
  }
}

.options {
  border: none;
  padding: 1rem;
  background: $oc-gray-9;
  text-align: right;
}